#forgot-password-wrap {
	background-color: #fff;
}

#forgot-password {
	max-width: 1170px;
	width: 95%;
	margin: 0 auto;
	padding: 60px 0;
	overflow: hidden;
	
	.featured-form {
		// float: left;
		margin: 0 auto;
		width: 570px / 1170px * 100%;
		overflow: hidden;
		
		// &:last-child {
		// 	float: right;
		// }

		.button {
			font-size: 14px;
			color: white;
			margin-top: 15px;
			clear: both;
			width: 165px;
		}
	}
}

.my-form-button{
	display: flex;
	justify-content: flex-end;
	a{
		&:nth-child(2){
			.button{
				background-color: $paragraph;
				border-bottom: 3px solid $title;
			}
			
		}
		margin-right: 20px;
		&:last-child{
			margin-right: 0;
		}
	}
}

@media screen and (max-width: 1024px) {
	#forgot-password {
		.featured-form {
			float: none;
			width: 100%;
			
			&:first-child {
				margin-bottom: 40px;
			}
		}
	}
}

@media screen and (max-width: 620px) {
	#forgot-password {
		.featured-form {
			label[for="remember"] {
				float: left;
			}

			.fp-msg {
				float: left;
				clear: left;
				margin: 15px 0 20px;	
			}
		}
	}
}

@media screen and (max-width: 460px) {
	#forgot-password {
		.featured-form {
			.fp-msg {
				margin-bottom: 35px;	
			}

			button {
				float: none;
				margin: 8px auto 0;
			}
		}
	}
	.my-form-button{
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		a{
			&:first-child{
				.button{
					background-color: $paragraph;
					border-bottom: 3px solid $title;
				}
				margin-right: 0;
			}
		}
	}
}

