<footer>
		<div id="footer-top-wrap">
			<section id="footer-top" class="clearfix">
				<article>
					<h6>About HKM</h6>
					<p>Lorem ipsum dolor sit amet, consectetur  latid adipisicing elit, sed do eiusmod tem edne 
					incididunt ut labore.</p>
					<a href="/" class="logo">
						<img src="/images/favicon.ico" alt="">
						<div>
							<h1>HKM</h1>
						</div>
					</a>
					<!-- /LOGO -->

					<!-- CONTACT INFO -->
					<ul class="contact-info">
						<li class="address">
							<!-- SVG PIN -->
							<svg class="svg-pin">
								<use xlink:href="#svg-pin"></use>	
							</svg>
							<!-- /SVG PIN -->
							<p>Linh Trung, Thu Duc, Ho Chi Minh city</p>
						</li>
						<li class="phone">
							<!-- SVG PHONE -->
							<svg class="svg-phone">
								<use xlink:href="#svg-phone"></use>	
							</svg>
							<!-- /SVG PHONE -->
							<p>(034) 12345679</p>
						</li>
						<li class="email">
							<!-- SVG ENVELOPE -->
							<svg class="svg-envelope">
								<use xlink:href="#svg-envelope"></use>	
							</svg>
							<!-- /SVG ENVELOPE -->
							<p><a href="mailto:hkm19Team@gmail.com">hkm19Team@gmail.com</a></p>
						</li>
					</ul>
					<!-- /CONTACT INFO -->

					<!-- PAYMENT METHODS -->
					<ul class="payment-methods">
						<!-- METHOD -->
						<li>
							<img src="/images/payment/method1.jpg" alt="method1">
						</li>
						<!-- /METHOD -->

						<!-- METHOD -->
						<li>
							<img src="/images/payment/method2.jpg" alt="method2">
						</li>
						<!-- /METHOD -->

						<!-- METHOD -->
						<li>
							<img src="/images/payment/method3.jpg" alt="method3">
						</li>
						<!-- /METHOD -->

						<!-- METHOD -->
						<li>
							<img src="/images/payment/method4.jpg" alt="method4">
						</li>
						<!-- /METHOD -->

						<!-- METHOD -->
						<li>
							<img src="/images/payment/method5.jpg" alt="method5">
						</li>
						<!-- /METHOD -->

						<!-- METHOD -->
						<li>
							<img src="/images/payment/method6.jpg" alt="method6">
						</li>
						<!-- /METHOD -->
					</ul>
					<!-- /PAYMENT METHODS -->
				</article>

				<article>
					<h6>Site Information</h6>
					<nav id="footer-menu">
						<ul>
							<li>
								<a href="/">Home</a>
								<!-- SVG ARROW -->
								<svg class="svg-arrow">
									<use xlink:href="#svg-arrow"></use>
								</svg>
								<!-- /SVG ARROW -->
							</li>
							<li>
								<a href="/me/profile">My Account</a>
								<!-- SVG ARROW -->
								<svg class="svg-arrow">
									<use xlink:href="#svg-arrow"></use>
								</svg>
								<!-- /SVG ARROW -->
							</li>
							<li>
								<a href="/me/cart">My Cart</a>
								<!-- SVG ARROW -->
								<svg class="svg-arrow">
									<use xlink:href="#svg-arrow"></use>
								</svg>
								<!-- /SVG ARROW -->
							</li>
							<li>
								<a href="/shop/all/women">Women Shop</a>
								<!-- SVG ARROW -->
								<svg class="svg-arrow">
									<use xlink:href="#svg-arrow"></use>
								</svg>
								<!-- /SVG ARROW -->
							</li>
							<li>
								<a href="/shop/all/men">Men Shop</a>
								<!-- SVG ARROW -->
								<svg class="svg-arrow">
									<use xlink:href="#svg-arrow"></use>
								</svg>
								<!-- /SVG ARROW -->
							</li>
							<li>
								<a href="/shop/all/unisex">Unisex Shop</a>
								<!-- SVG ARROW -->
								<svg class="svg-arrow">
									<use xlink:href="#svg-arrow"></use>
								</svg>
								<!-- /SVG ARROW -->
							</li>
						</ul>
					</nav>
				</article>

				{{!-- <article>
					<h6>Featured Products</h6>
					<!-- PRODUCT PREVIEW -->
					<ul class="product-preview">
						<li>
							<a href="/shop/crazy-bunny/women/t-shirt/1">
								<figure class="liquid">
									<img src="/images/items/02.png" alt="product1">
								</figure>
							</a>
							<a href="/shop/all/all/t-shirt"><p class="highlighted category">T-Shirts</p></a>
							<a href="/shop/crazy-bunny/women/t-shirt/1"><h6>Crazy Bunny</h6></a>
							<!-- RATING -->
							<ul class="rating">
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li>
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
							</ul>
							<!-- /RATING -->			
							<p class="highlighted current">$86.00</p>
						</li>

						<li>
							<a href="/shop/crazy-bunny/women/t-shirt/1">
								<figure class="liquid">
									<img src="/images/items/25.png" alt="product2">
								</figure>
							</a>
							<a href="/shop/all/all/t-shirt"><p class="highlighted category">T-Shirts</p></a>
							<a href="/shop/crazy-bunny/women/t-shirt/1"><h6>Happy Doughnut</h6></a>
							<!-- RATING -->
							<ul class="rating">
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li>
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
							</ul>
							<!-- /RATING -->			
							<p class="highlighted current">$49.00</p>
							<p class="highlighted previous">$61.25</p>
						</li>

						<li>
							<a href="/shop/crazy-bunny/women/t-shirt/1">
								<figure class="liquid">
									<img src="/images/items/32.png" alt="product3">
								</figure>
							</a>
							<a href="/shop/all/all/sneaker"><p class="highlighted category">Custom Sneakers</p></a>
							<a href="/shop/crazy-bunny/women/t-shirt/1"><h6>The Devil Walks</h6></a>
							<!-- RATING -->
							<ul class="rating">
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li>
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
							</ul>
							<!-- /RATING -->			
							<p class="highlighted current">$43.00</p>
						</li>
					</ul>
					<!-- /PRODUCT PREVIEW -->
				</article>

				<article>
					<h6>Latest Products</h6>
					<!-- PRODUCT PREVIEW -->
					<ul class="product-preview">
						<li>
							<a href="/shop/crazy-bunny/women/t-shirt/1">
								<figure class="liquid">
									<img src="/images/items/31.png" alt="product1">
								</figure>
							</a>
							<a href="/shop/all/all/sneaker"><p class="highlighted category">Custom Sneakers</p></a>
							<a href="/shop/crazy-bunny/women/t-shirt/1"><h6>Crazy-R Chucks</h6></a>
							<!-- RATING -->
							<ul class="rating">
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li>
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
							</ul>
							<!-- /RATING -->			
							<p class="highlighted current">$57.00</p>
						</li>

						<li>
							<a href="/shop/crazy-bunny/women/t-shirt/1">
								<figure class="liquid">
									<img src="/images/items/16.png" alt="product1">
								</figure>
							</a>
							<a href="/shop/all/all/sneaker"><p class="highlighted category">T-Shirts</p></a>
							<a href="/shop/crazy-bunny/women/t-shirt/1"><h6>The Devil Pin 02</h6></a>
							<!-- RATING -->
							<ul class="rating">
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li>
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
							</ul>
							<!-- /RATING -->			
							<p class="highlighted current">$54.00</p>
						</li>

						<li>
							<a href="/shop/crazy-bunny/women/t-shirt/1">
								<figure class="liquid">
									<img src="/images/items/07.png" alt="product1">
								</figure>
							</a>
							<a href="/shop/all/all/sneaker"><p class="highlighted category">T-Shirts</p></a>
							<a href="/shop/crazy-bunny/women/t-shirt/1"><h6>Robo Planet</h6></a>
							<!-- RATING -->
							<ul class="rating">
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li class="filled">
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
								<li>
									<!-- SVG STAR -->
									<svg class="svg-star">
										<use xlink:href="#svg-star"></use>
									</svg>
									<!-- /SVG STAR -->
								</li>
							</ul>
							<!-- /RATING -->			
							<p class="highlighted current">$105.00</p>
						</li>
					</ul>
					<!-- /PRODUCT PREVIEW -->
				</article> --}}
			</section>
		</div>
		<div id="footer-bottom-wrap">
			<section id="footer-bottom">
				<p><a href="/">HKM Cool Clothing</a> <span> |</span> All Rights Reserved 2021</p>
				<!-- SOCIAL LINKS -->
				<ul class="social-links">
					<li class="fb"><a href="#"></a></li>
					<li class="twt"><a href="#"></a></li>
					<li class="gplus"><a href="#"></a></li>
				</ul>
				<!-- /SOCIAL LINKS -->
			</section>
		</div>
	</footer>