<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/vendor/jquery.range.css">
	<link rel="stylesheet" href="/css/vendor/xmcountdown.css">
    <link rel="stylesheet" href="/css/vendor/owl.carousel.css">
	<link rel="stylesheet" href="/css/vendor/magnific-popup.css">
	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/my.css">
	<!-- favicon -->
	<link rel="icon" href="/images/favicon.ico">
    <title>HKM Shop</title>
</head>
<body>
    <div class="app">
        {{> header}}
        {{> nav this}}
        <div>
            {{{body}}}
        </div>
        {{> footer}}
    </div>

</body>
</html>